<nav class="navbar">
  <div class="navbar-logo">
    <a href="/"><img src="logo.png" alt="Logo MinhaMarca" class="logo-img"></a>
    <a routerLink="/" class="inicio-link">
  <span class="inicio-texto">Início</span>
    </a>
  </div>

  <div class="navbar-center">
   <input
  type="search"
  placeholder="O que deseja procurar?"
  (input)="buscar($event)"
/>

<ul *ngIf="produtosFiltrados.length > 0">
  <li *ngFor="let produto of produtosFiltrados">
    <a [routerLink]="['/produto', produto.id]">
      {{ produto.nome }} - R$ {{ produto.preco }}
    </a>
  </li>
</ul>
  </div>

  <div class="navbar-actions">
 
  </div>
</nav>



