<nav class="navbar">
  <div class="navbar-logo">
    <a href="#"><img src="logo.png" alt="Logo MinhaMarca" class="logo-img"></a>
  </div>

  <div class="navbar-center">
   <input
  type="search"
  placeholder="O que deseja procurar?"
  (input)="buscar($event)"
/>

<ul *ngIf="produtosFiltrados.length > 0">
  <li *ngFor="let produto of produtosFiltrados">
    {{ produto.nome }} - R$ {{ produto.preco }}
  </li>
</ul>
  </div>

  <div class="navbar-actions">
    <!-- Futuro: login/carrinho -->
  </div>
</nav>



