.login-container {
  max-width: 400px;
  margin: 80px auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
    color: #000;

}

.login-container h2 {
  margin-bottom: 1.5rem;
  font-size: 28px;
    color: #000;

}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 12px;
  background-color: #E50914;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b71c1c;
}

.register-link {
  margin-top: 1.5rem;
  font-size: 14px;
  color: #000;
}
