<div class="section-wrapper">
  <header class="section-header">
<h2>Suplementos</h2>
<p class="section-description">Tudo para apoiar sua saúde, desempenho e bem-estar. Encontre os suplementos ideais para sua rotina.</p>

  </header>
</div>


<div class="product-grid">
  <div class="product-card" *ngFor="let produto of produtos">
    
    <a [routerLink]="['/produto', produto.id]" class="link-detalhes">
    <img *ngIf="produto.imagem" [src]="'data:image/jpeg;base64,' + produto.imagem" [alt]="produto.nome" class="product-image">
      <h3>{{ produto.nome }}</h3>
      <p class="preco">R$ {{ produto.preco | number:'1.2-2' }}</p>
    </a>

    <a
      class="btn-whatsapp"
      [href]="gerarLinkWhatsApp(produto)"
      target="_blank"
    >
      Comprar agora!
    </a>
  </div>
</div>